@import '~bootstrap/scss/bootstrap.scss';

img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.title{
    font-family: fantasy;
    letter-spacing: 1px;
    font-weight: bold;
}
.category_span{
    color: #ff8800;
}
.ms_vh{
    height: 60vh;
}