.btn-orange{
    border-radius: 10px;
    padding: 10px;
    background-color: #ff8800;
    color: #fff;
    font-family: fantasy;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover{
        box-shadow: 0px 0px 2px 2px #fff;
    }

}